<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card card-body">
      <h1>No se encontro la pagina</h1>
      <p>Pagina no existente</p>
      <a href="/">Porfavor Regresa al Inicio¡¡</a>
    </div>
  </div>
</div>