 <div class="jumbotron mt-4">
        <div class="container">
            <h1>Formulario para tu Horoscopo</h1>
            <form action="/respuesta/new-respuesta" method="POST">
                <div class="form-group">
                    <h3>1. ¿Eres una persona ambiciosa y determinada en la búsqueda de tus
                        metas?</h3>
                    <select class="form-control" id="ambicion" name="ambicion">
                        <option value="0.05">Sí</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <h3>2. ¿Tienes una personalidad enérgica y activa?</h3>
                    <select class="form-control" id="energico" name="energico">
                        <option value="0.05">Sí</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <h3>3. ¿Eres conocido por ser paciente y perseverante en tus esfuerzos?</h3>
                    <select class="form-control" id="paciente" name="paciente">
                        <option value="0.05">Sí</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <h3>4. ¿Tienes una naturaleza práctica y realista en tu enfoque de la vida?</h3>
                    <select class="form-control" id="realista" name="realista">
                        <option value="0.05">Sí</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <h3>5. ¿Eres una persona sociable y extrovertida que disfruta de la compañía de los demás?</h3>
                    <select class="form-control" id="sociable" name="sociable">
                        <option value="0.05">Sí</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <h3>6. ¿Tienes una imaginación vívida y una mente creativa?</h3>
                    <select class="form-control" id="imaginacion" name="imaginacion">
                        <option value="0.05">Sí</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <h3>7. ¿Tiendes a ser equilibrado/a y justo/a en tus relaciones y decisiones?</h3>
                    <select class="form-control" id="justo" name="justo">
                        <option value="0.05">Sí</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <h3>8. ¿Eres una persona intuitiva y emocionalmente perceptiva?</h3>
                    <select class="form-control" id="intuitivo" name="intuitivo">
                        <option value="0.05">Sí</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <h3>9. ¿Valoras la estabilidad y la seguridad en tu vida?</h3>
                    <select class="form-control" id="seguridad" name="seguridad">
                        <option value="0.05">Sí</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <h3>10. ¿Tienes una mente analítica y lógica para resolver problemas?</h3>
                    <select class="form-control" id="analitica" name="analitica">
                        <option value="0.05">Sí</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <h3>11. ¿Eres una persona adaptable y flexible frente a los cambios?</h3>
                    <select class="form-control" id="adaptable" name="adaptable">
                        <option value="0.05">Sí</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <h3>12. ¿Disfrutas del misterio y la profundidad en tus relaciones y conversaciones?</h3>
                    <select class="form-control" id="misterio" name="misterio">
                        <option value="0.05">Sí</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <h3>13. ¿Eres una persona optimista y entusiasta que ve el lado positivo de las situaciones?</h3>
                    <select class="form-control" id="entusiasmo" name="entusiasmo">
                        <option value="0.05">Sí</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <h3>14. ¿Tienes una personalidad tranquila y reservada?</h3>
                    <select class="form-control" id="tranquilo" name="tranquilo">
                        <option value="0.05">Sí</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <h3>15. ¿Eres una persona intuitiva y espiritualmente orientada?</h3>
                    <select class="form-control" id="pregunta15" name="espiritual">
                        <option value="0.05">Sí</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <h3>16. ¿Tienes un espíritu aventurero y te gusta explorar nuevos horizontes?</h3>
                    <select class="form-control" id="aventurero" name="aventurero">
                        <option value="0.05">Sí</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <h3>17. ¿Eres un líder natural y te sientes cómodo/a asumiendo responsabilidades?</h3>
                    <select class="form-control" id="liderazgo" name="liderazgo">
                        <option value="0.05">Sí</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <h3>18. ¿Tienes una fuerte ética de trabajo y eres disciplinado/a en tus tareas?</h3>
                    <select class="form-control" id="etico" name="etico">
                        <option value="0.05">Sí</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <h3>19. ¿Eres empático/a y te preocupas por el bienestar de los demás?</h3>
                    <select class="form-control" id="empatico" name="empatico">
                        <option value="0.05">Sí</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <h3>20. ¿Eres una persona analítica y crítica, que valora la precisión y el detalle?</h3>
                    <select class="form-control" id="critica" name="critica">
                        <option value="0.05">Sí</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>